@import url(https://fonts.googleapis.com/css?family=BenchNine:700);
h1,h2,#contents{
    text-align: center;
}

#contents{
    top: 200px;
    font-size: 50px;
    position: relative;
}
.hidden{
    display: none;
}
.page{
    width: auto;
    top:600px;
    left:auto;
    position: relative;
    justify-content: center;
    display: flex;
}


/* add default color for animation start  */


/* toggle this class */

.color-bg-start {
    background-color: salmon;
}


/* toggle class bg-animate-color */

.bg-animate-color {
    animation: random-bg .5s linear infinite;
}


/* add animation to bg color  */

@keyframes random-bg {
    from {
        filter: hue-rotate(0);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

.fun-btn {
    /* change bg color to get different hues    */
    background-color: salmon;
    color: white;
    padding: 2em 3em;
    border: none;
    transition: all .3s ease;
    border-radius: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    outline: none;
    align-self: center;
    cursor: pointer;
    font-weight: bold;
}

.fun-btn:hover {
    animation: random-bg .5s linear infinite, grow 1300ms ease infinite;
}

.start-fun {
    background-color: #fff !important;
    /* change color of button text when fun is started   */
    color: salmon !important;
}

/* pulsating effect on button */
@keyframes grow {
    0% {
        transform: scale(1);
    }
    14% {
        transform: scale(1.3);
    }
    28% {
        transform: scale(1);
    }
    42% {
        transform: scale(1.3);
    }
    70% {
        transform: scale(1);
    }
}
.info{
    position:absolute;
    top:0;
    right:0;
    overflow:scroll;
    overflow-x:hidden;
}
.box{
    oveflow:hidden;
}
#modal.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
#modal .modal-window {
    background: rgba( 69, 139, 197, 0.70 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 400px;
    height: 500px;
    position: relative;
    top: -100px;
    padding: 10px;
}
#modal .title {
    padding-left: 10px;
    display: inline;
    text-shadow: 1px 1px 2px gray;
    color: white;

}
#modal .title h2 {
    display: inline;
}
#modal .close-area {
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: white;
}

#modal .content {
    margin-top: 20px;
    padding: 0px 10px;
    text-shadow: 1px 1px 2px gray;
    color: white;
}

#modal_btn{
    position:absolute;
    top:0;
    right:0;
}
#intro{
    position:absolute;
    top:0;
    right:0;
}